<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/inheritance?serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">create-drop</property>

        <!-- mapping class="com.mcnz.jpa.examples.Player" / -->
        <mapping class="core.basesyntax.model.zoo.Animal"></mapping>
        <mapping class="core.basesyntax.model.zoo.Cat"></mapping>
        <mapping class="core.basesyntax.model.zoo.Dog"></mapping>

        <mapping class="core.basesyntax.model.figure.Figure"></mapping>
        <mapping class="core.basesyntax.model.figure.Circle"></mapping>
        <mapping class="core.basesyntax.model.figure.Triangle"></mapping>

        <mapping class="core.basesyntax.model.ma.Coach"></mapping>
        <mapping class="core.basesyntax.model.ma.Mentor"></mapping>
        <mapping class="core.basesyntax.model.ma.Person"></mapping>

        <mapping class="core.basesyntax.model.machine.Machine"></mapping>
        <mapping class="core.basesyntax.model.machine.Car"></mapping>
        <mapping class="core.basesyntax.model.machine.Truck"></mapping>




    </session-factory>
</hibernate-configuration>
